body {
  background-color: #001f3f; /* Azul marino */
    color: #ffffff; /* Texto en color claro para contrastar */
}

.container {

    margin-top: 160px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card-header {
    background-color: #2F4F4F; /* Color azul de Bootstrap */
    color: #fff;
    text-align: center;
}

.btn-primary {
    background-color: #007bff; /* Color azul de Bootstrap */
    border: 1px solid #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; /* Color azul oscuro de Bootstrap al pasar el ratón */
    border: 1px solid #0056b3;
}
